@model VotingSystem.Web.Helper.PagedList<VotingSystem.Web.Models.VoteViewModel>

@{
    ViewBag.Title = "Votes";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Title)
                @Html.DisplayNameFor(model => model.First().Remaining)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vote in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => vote.Title)</td>
                <td>@Html.DisplayFor(modelItem => vote.Remaining)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@vote.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@vote.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@vote.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
