@model VotingSystem.Models.VoteDetailViewModel

@{
    ViewBag.Title = Model.Title;
}


<h2>@Model.Title</h2>
<form asp-action="DeletePost" asp-route-id="@Model.Id">
    <p>
        @*@if (Model.CanEditRecipe)
        {
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        }*@
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <button class="btn btn-danger">Delete</button>
    </p>
</form>
<p>@Model.Remaining</p>

<dl>
    @foreach (var item in Model.VoteItems)
    {
        <dd>@item.ItemName</dd>
    }
</dl>