@model VotingSystem.Models.VotePublicViewModel

@{
    ViewBag.Title = "Vote";
    Layout = "_Layout";
}

<h2>Vote</h2>

<h4>@Model.Title</h4>
<div id="deadLine" data-value="@Model.Deadline"></div>
<h5 id="deadLine_show"></h5>
<script>
    var deadLine = document.getElementById("deadLine");
    var now = new Date();
    //var end = new Date(2020, 9, 3, 16, 10, 00);//结束的时间：年，月，日，分，秒（月的索引是0~11）
    var deadLineValue = deadLine.getAttribute("data-value");
    var end = new Date(deadLineValue);
    /*两个时间相减,得到的是毫秒ms,变成秒*/
    var result = Math.floor(end - now) / 1000;
    @* 页面加载同时渲染倒计时 *@
    if (result > 1) {
        var second = Math.floor(result % 60);     // 计算秒 ，取余
        var minute = Math.floor((result / 60) % 60); //计算分 ，换算有多少分，取余，余出多少秒
        var hour = Math.floor((result / 3600) % 24); //计算小时，换算有多少小时，取余，24小时制除以24，余出多少小时
        var day = Math.floor(result / (3600 * 24));  //计算天 ，换算有多少天

        var deadLineShow = document.getElementById("deadLine_show");
        deadLineShow.innerHTML = (day + "天" + hour + "小时" + minute + "分" + second + "秒");
    }


    var interval = setInterval(sub, 1000); //定时器 调度对象
    /*封装减1秒的函数*/
    function sub() {
        if (result > 1) {
            result = result - 1;
            var second = Math.floor(result % 60);     // 计算秒 ，取余
            var minute = Math.floor((result / 60) % 60); //计算分 ，换算有多少分，取余，余出多少秒
            var hour = Math.floor((result / 3600) % 24); //计算小时，换算有多少小时，取余，24小时制除以24，余出多少小时
            var day = Math.floor(result / (3600 * 24));  //计算天 ，换算有多少天

            var deadLineShow = document.getElementById("deadLine_show");
            deadLineShow.innerHTML = (day + "天" + hour + "小时" + minute + "分" + second + "秒");
        } else {
            alert("投票截至倒计时结束！");
            window.clearInterval(interval);//这里可以添加倒计时结束后需要执行的事件
            var vote = document.getElementById("vote");
            var share = document.getElementById("share");
            vote.setAttribute("disabled", "disabled");
            share.setAttribute("disabled", "disabled");
        }
    };
</script>
<hr />

<div class="container">
    @foreach (var item in Model.VoteItems)
    {
        <div class="row">
            <div class="col-6 col-md-6">
                <div class="progress">
                    @*<input type="hidden" asp-for="@item.Id" />*@
                    <div class="progress-bar progress-bar-striped progress-bar-animated
                         @{
                             var rate = decimal.Parse(item.Percentage.TrimEnd('%'));
                             @((rate >= 20 && rate < 40) ? " bg-success " : "")
                             @((rate >= 40 && rate < 60) ? " bg-info " : "")
                             @((rate >= 60 && rate < 80) ? " bg-warning " : "")
                             @((rate >= 80) ? " bg-danger " : "")
                         }" 
                         role="progressbar" aria-valuenow="@item.Percentage.TrimEnd('%')" aria-valuemin="0" aria-valuemax="100" style="width: @item.Percentage">
                        @item.Percentage&nbsp;@(item.Count)
                        @if (item.Count > 0)
                        {
                            @(item.Count>1? "polls":"poll")
                        }
                    </div>
                </div>
            </div>

            @*<div class="col-md-5">
                    <div>选项</div>
                </div>*@

            <div class="col-6 col-md-6">
                <div>
                    @* 多选用checkbox，单选用radio *@
                    @if (Model.IsMultiple)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="voteItem" id="@item.Id">
                            <label class="form-check-label" for="@item.Id">
                                @item.ItemName
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="voteItem" id="@item.Id" value="@item.Id">
                            <label class="form-check-label" for="@item.Id">
                                @item.ItemName
                            </label>
                        </div>
                    }
                    @*<div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input position-static" type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="...">
                        </div>*@
                </div>
            </div>
            @*<div class="col-3 col-md-3">
                <span>@(item.Count)票</span>
                <span>@item.Percentage</span>
            </div>*@
        </div>
    }
</div>

@if (Model.IsPublish)
{
    <div>
        <div class="btn-group" role="group" aria-label="Vote">
            <input type="hidden" asp-for="Id" />
            <button id="vote" type="button" class="btn btn-primary">投票</button>
            <button id="share" type="button" class="btn btn-info" data-toggle="modal" data-target="#shareModal">分享</button>
        </div>
    </div>
}

<partial name="_Share" />

@section Scripts {
    <script>

        let itemIdArray = [];

        $("#vote").click(function () {
            $('input[name="voteItem"]:checked').each(function () {
                itemIdArray.push($(this).attr("id"));
            });

            var voteData = {
                id: $("#Id").val(),
                selectedItems: itemIdArray
            }

            $.ajax({
                url: "/Vote/Vote",
                type: "POST",
                data: voteData,
            }).done(function (data) {

            }).fail(function (xhr) {
                alert(xhr.responseText);
            });
        });

        $('#shareModal').on('show.bs.modal',
            function (event) {
                $("#imgQrcode").attr("src", $("#imgQrcode").attr("data-src"));
            });
    </script>
}
